#bannerimage{
width: 100%;
background-image: url(Bilder/løvonthebakk.jpg);
height: 150px;
background-color: purple;
background-position: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2B705;
}

li {
    float: left;
}

li a {
    display: block;
    color: #D98841;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Bookman Old Style";
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #F2EFDC;
}

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* The image used */
    background-image: url("Bilder/autumn.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-family: "Bookman Old Style";
}
table, th, td {
    border: 1px solid black;
}
.grønn >p {
    color: #04AA6D;
}
.rød > p {
    color: red;
}
